.selectorContainer{
    .selector{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;
        background: #1E1E1E;
        border-radius: 15px;
        color: white;
        padding: 20.5px 15px;

        
    }

    div{
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }

    .active{        
        transform: rotateX(180deg);
    }
}