.checkboxContainer{
    cursor: pointer;
    user-select: none;
    min-width: 15px;
    height: 15px;
    border: 0.5px solid #CBCBCB;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}