.navigation{
    z-index: 10;
    display: flex;
    gap: 1.875rem;
    align-items: center;
    padding-right: clamp(0.875rem, 0.0781rem + 3.9844vw, 4.0625rem);
    padding-left: clamp(1.25rem, -0.0313rem + 6.4062vw, 6.375rem);

    .tab{
        font-size: var(--text-sm);
        color: white;
        font-weight: 700;
        cursor: pointer;
        background: transparent;
        border: none;
    }

}

@media (max-width: 480px) {
    .navigation{
        display: none;
    }
}