.sliderContainer{
    height: 384px;  
    position: relative;
    overflow-x: clip;
    max-width: 100vw;
    
    
    .slider {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        height: 384px;            
        padding: 0 var(--padding-x);             
        display: flex;
        gap: 1rem;
        color: #BDBDBD;
        align-items: stretch;
        justify-content: center;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        

        .oppo{
            position: absolute;
            top: -100px;
            left: 0;
            z-index: 5;
        }

        .infoBackground{
            position: absolute;
            top:-186px;
            left: 0;
            z-index: 7;
        }
    }
}

.buttonContainer {
    position: relative;
    z-index: 30;
    display: none;
    height: 26px;
    box-sizing: border-box;

    .currentStep{
        font-weight: 700;
    }
}

@media (max-width: 1024px) {
    

    .buttonContainer {
        width: fit-content;
        margin: auto;
        margin-top: 20px;
        display: flex;
        gap: 36px;
        background: #1E1E1E;
        padding: 3.5px 15px;
        border-radius: 30px;
        color: #FFFFFF;
        align-items: center;
        font-size: var(--text-l);
    }   
}

@media (max-width: 480px) {
    .sliderContainer{
        .slider{
            .oppo{
                display: none;
            }
        }
    } 
}

